<section id="widget-grid" class="col-md-12 col-sm-12 col-lg-12">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                <div>
                    <div class="widget-body no-padding">
                        <form class="smart-form form-horizontal" method="POST" name="packageForm" role="form" ng-submit="packageForm.$valid && packageSubmit()" novalidate enctype="multipart/form-data">
                            <header>
                                <span ng-hide="is_edit">Add Packages</span>
                                <span ng-show="is_edit">Edit Packages</span>
                            </header>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        
                                        <label class="input">
                                            <input type="text" ng-class="{
                                                    'has-errors':packageForm.packagename.$invalid && packageForm.$submitted, 'no-errors': packageForm.packagename.$valid}"
                                                   ng-model="packages.packagename" name="packagename" placeholder="Package Name" required="">
                                        </label>
                                        <div class="error-container" ng-show="packageForm.packagename.$error && packageForm.$submitted" ng-messages="packageForm.packagename.$error">
                                           <div ng-message="required" class="error">Please Enter Package Name!</div>
                                        </div>
                                    </section>
                                 
                                    <section class="col col-6">
                                        
                                        <label class="input">
                                            <input type="text" ng-class="{
                                                    'has-errors':packageForm.duration.$invalid && packageForm.$submitted, 'no-errors': packageForm.duration.$valid}" class='allownumericwithdecimal'
                                                   ng-model="packages.duration" name="duration" placeholder="Duration (Days)" required >
                                        </label>
                                        <div class="error-container" ng-show="packageForm.duration.$error && packageForm.$submitted" ng-messages="packageForm.duration.$error">
                                            <div ng-message="required" class="error">Please Enter Duration!</div>
                                        </div>
                                        
                                    </section>
                                     
                                 </div>
                                 <div class="row">
                                    <section class="col col-3"></section>
                                    <section class="col col-6">
                                       
                                        <label class="input">
                                            <div class="input-group">
                                            <input type="text" ng-class="{
                                                    'has-errors':packageForm.price.$invalid && packageForm.$submitted, 'no-errors': packageForm.price.$valid}"
                                                   ng-model="packages.price"  class='allownumericwithdecimal' name="price" placeholder="Price" required>
                                                   <span class="input-group-addon">
                                                    <span class="fa fa-shekel"></span>
                                                </span>
                                                </div>
                                                 
                                        </label>
                                        <div class="error-container" ng-show="packageForm.price.$error && packageForm.$submitted" ng-messages="packageForm.price.$error ">
                                        <div ng-message-include="view/error-list.html"></div>
                                        </div>
                                        <p ng-show="packageForm.price.$error.required && packageForm.$submitted" class="error">Please Enter Package Price!</p>
                                        
                                    </section>
                                    <section class="col col-3"></section>
                                </div>

                            </fieldset>

                            <footer>
                                <a type="button" class="btn btn-danger" title="Cancle" ng-href="#/packages">
                                    Cancel
                                </a>
                                <button type="submit" ng-click="packageForm.$valid && submit()" title="Submit" class="btn btn-primary" ng-hide="is_edit">
                                    Submit
                                </button>

                                <button type="submit" ng-click="packageForm.$valid && editSubmit()" title="Update" ng-show="is_edit" class="btn btn-primary">
                                    Update
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
