<section id="widget-grid" class="col-md-12 col-sm-12 col-lg-12">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12 margin-bot">
            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
                <div>
                    <div class="widget-body no-padding">
                        <form class="smart-form form-horizontal" method="POST" name="ques_catForm" role="form" ng-submit="ques_catForm.$valid && ques_catSubmit()"
                            novalidate enctype="multipart/form-data">
                            <header>
                                <span ng-hide="buttonShow">Add Question Category</span>
                                <span ng-show="buttonShow">Edit Question Category</span>
                            </header>
                            <fieldset>
                                <div class="row">
                                    <section class="col-sm-12" style="width: 97%">
                                        <label class="input">
                                            <input type="text" ng-class="{
                                                    'has-errors':ques_catForm.name.$invalid && ques_catForm.$submitted, 'no-errors': ques_catForm.name.$valid}"
                                                ng-model="ques_cat.name" name="name" placeholder="Category Name" required>
                                        </label>
                                        <div class="error-container" ng-show="ques_catForm.name.$error && ques_catForm.$submitted" ng-messages="ques_catForm.name.$error">
                                            <div ng-message="required" class="error">Please Enter Category Name</div>
                                        </div>
                                    </section>
                                    <section class="col-sm-12" style="width: 97%">
                                        <ng-ckeditor name="description" ng-model="ques_cat.description" skin="moono" remove-buttons="Image" remove-plugins="iframe,flash,smiley"
                                            required="" ng-disabled="edit == false"></ng-ckeditor>
                                        <div class="error-container" ng-show="ques_catForm.description.$error && ques_catForm.$submitted" ng-messages="ques_catForm.description.$error">
                                            <div ng-message="required" class="error">Please Add Description</div>
                                        </div>
                                    </section>
                                </div>

                            </fieldset>

                            <footer>
                                <a type="button" class="btn btn-danger" title="Cancel" ng-href="#/questionnaire">
                                    Cancel
                                </a>
                                <button type="submit" ng-click="ques_catForm.$valid && AddQue_cat()" title="Submit" class="btn btn-primary" ng-hide="is_edit">
                                    Submit
                                </button>

                                <button type="submit" ng-click="ques_catForm.$valid && editQue_Cat(ques_cat._id)" title="Update" ng-show="is_edit" class="btn btn-primary">
                                    Update
                                </button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>