<section id="widget-grid" class="">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bot nopadding" style="margin-bottom: 40px">
        <div class="jarviswidget" id="checkin_checkout" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false" data-widget-custombutton="true">
            <header>
                <h2>
                    <strong>Admin List</strong>
                </h2>
                <div class="widget-toolbar" role="menu">
                    <div class="btn-group">
                        <a class="add btn btn-default btn-xs" title="Add" ng-href="#/admin_list/add">Add</a>
                    </div>
                </div>
            </header>

            <div>
                <div class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                </div>
                <div class="widget-body table-responsive">
                    <table id="" dt-column-defs="dtColumnDefs" dt-options="dtOptions" datatable="ng" class="table table-striped table-responsive table-bordered table-hover">
                        <thead style="white-space: nowrap;">
                            <tr>
                                <th>User Name</th>
                                <th>Creating Date & Time</th>
                                <th>Last Login</th>
                                <th>&nbsp;</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in admininfo" ng-class="{ 'active': u.$edit }" ng-if="a.type == 'admin'">
                                <td data-title="'First Name'" sortable="'firstname'" filter="{ 'firstname': 'text' }">
                                    <span>{{ a.firstname}}</span>
                                </td>
                                <td data-title="'Creating Date & Time'" sortable="'create_date'" filter="{ 'create_date': 'date' }">
                                    <span>{{ a.create_date | date:"dd/MM/yyyy"}}</span>
                                </td>
                                <td data-title="'Last Login'" sortable="'last_login'" filter="{ 'last_login': 'date' }">
                                    <span>{{ a.last_login | date:"dd/MM/yyyy hh:mm"}}</span>
                                </td>
                                <td>
                                    <button onclick="" type="button" class="add btn btn-default" ng-click="resetpassword('/reset_password/' + a._id)">Reset Password</button>
                                </td>
                                <td data-title="'Actions'">
                                    <button type="button" id="edit" class="btn btn-default" title="Edit" ng-click="editAdmin('/admin_list/Edit/' + a._id)">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" id="delete" title="Delete" class="btn btn-default" ng-click="deleteData(a)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
</section>