<div class="error" ng-message="required">
    Please This field is required!
</div>
<div class="error" ng-message="minlength">
    Minimum length of this field is 6 characters!
</div>
<div class="error" ng-message="maxlength">
    Maximum length of this field is 15 characters!
</div>
<div class="error" ng-message="email">
    Please enter valid email address!
</div>
<div class="error" ng-message="number">
    Please enter number!
</div>
<div class="error" ng-message="url">
    The website address is not valid !
</div> 
<div class="error" ng-message="content">
    Please Enter Content!
</div> 
<div class="error" ng-message="numbers-only">
    Please enter only number!
</div> 