<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="order form-border">
        <form class="order-form" class="smart-form form-horizontal" method="POST" name="resetpasswordForm" role="form" ng-submit="resetpasswordForm.$valid && adminSubmit()"
          novalidate enctype="multipart/form-data">
          <header>
            <span class="add-order legend-title">Reset Password</span>
          </header>
          <fieldset class="main-set">
            <!-- <div class="row space">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label class="">Old Password</label>
                <input type="text" class="form-control" tabindex="1" ng-class="{
                    'has-errors':resetpasswordForm.old_password.$invalid && resetpasswordForm.$submitted, 'no-errors': resetpasswordForm.old_password.$valid}"
                  ng-model="resetpass.old_password" name="old_password" placeholder="Old Password" required="" autocomplete="off">
                <div class="error-container" ng-show="resetpasswordForm.old_password.$error && resetpasswordForm.$submitted" ng-messages="resetpasswordForm.old_password.$error">
                  <div ng-message="required" class="error">Please Enter Old Password!</div>
                </div>
              </div>
            </div> -->
            <div class="row space">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="">New Password</label>
                  <input type="password" class="form-control" tabindex="1" ng-class="{
                      'has-errors':resetpasswordForm.new_password.$invalid && resetpasswordForm.$submitted, 'no-errors': resetpasswordForm.new_password.$valid}"
                    ng-model="resetpass.new_password" name="new_password" placeholder="New Password" required="" autocomplete="off">
                  <div class="error-container" ng-show="resetpasswordForm.new_password.$error && resetpasswordForm.$submitted" ng-messages="resetpasswordForm.new_password.$error">
                    <div ng-message="required" class="error">Please Enter New Password!</div>
                  </div>
                </div>
              </div>
              <div class="row space">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="">Confirm Password</label>
                  <input type="password" class="form-control" tabindex="1" ng-class="{
                      'has-errors':resetpasswordForm.confirm_password.$invalid && resetpasswordForm.$submitted, 'no-errors': resetpasswordForm.confirm_password.$valid}"
                    ng-model="resetpass.confirm_password" name="confirm_password" placeholder="Confirm Password" required="" autocomplete="off">
                  <div class="error-container" ng-show="resetpasswordForm.confirm_password.$error && resetpasswordForm.$submitted" ng-messages="resetpasswordForm.confirm_password.$error">
                    <div ng-message="required" class="error">Please Enter Confirm Password!</div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-xs-12">
                <!-- <input type="submit" class="btn btn-default" value="Save" tabindex="4"> -->
                <button type="submit" class="btn btn-default" tabindex="4" ng-click="resetpasswordForm.$valid && submit()" title="Submit" class="btn btn-primary">
                  Save
              </button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>