<section id="widget-grid" class="">
    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-bot nopadding">
        <div class="jarviswidget" id="checkin_checkout" data-widget-editbutton="false" data-widget-togglebutton="false"
            data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="true">
            <header>
                <h2>
                    <strong>Videos Notification</strong>
                </h2>
            </header>

            <div>
                <div class="text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                </div>
                <div class="widget-body table-responsive">
                    <table id="" dt-column-defs="dtColumnDefs" dt-options="dtOptions" datatable="ng" class="table table-striped table-bordered table-hover">
                        <thead style="white-space: nowrap;">
                            <tr>
                                <th>User</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="v in videoNotification" ng-class="{ 'active': v.$edit }">

                                <td data-title="'User'" sortable="'user'" filter="{ 'user': 'text' }">
                                    <span>{{ v.user_id == null ? "" : v.user_id.firstname }}</span>
                                </td>
                                <td data-title="'Message'" sortable="'message'" filter="{ 'message': 'text' }">
                                    <span>{{ v.message }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
</section>